@media screen and (min-width: 700px) {
  div.mainContainer {
    width: 100%;
    max-width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-basis: 50%;
    flex-wrap: nowrap;
    margin-top: 30vh;
    align-items: center;
  }

  div.headlineContainer {
    width: 100%;
    margin-left: 0;
    padding: 1%;
    display: block;
    text-align: center;
  }

  .favorites{
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Marvel;
  color: white;
  background-image: url(images/background.jpg);
  margin: auto;
  padding: auto;
  background-size: cover no-repeat;
}

.mainContainer {
  max-width: 600px;
  margin: auto;
  padding: 1%;
  display: block;
  text-align: center;
}

.hidden {
  display: none;
}

.charImg {
  width: 70%;
  margin-top: 3%;
  display: inline-block;
  border: 2px solid white;
}

button {
  width: 70%;
  height: auto;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1.5em;
}

.localFavorite {
  width: 40%;
  margin: auto;
  margin-top: 2%;
  display: block;
  align-items: center;
  text-align: center;
}

div#hidden {
  display: none;
}

.favoritesList {
  display: block;
  align-items: center;
  text-align: center;
  
}

button {
  width: 70%;
  height: auto;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1em;
  border-radius: 5em/4em;
  border: none;
  box-shadow: 0 .5em 5px rgb(0, 0, 0, 0.8);
}

.favorite, .userFavorites{
  background-color: rgb(214, 93, 13);
  }

#characterSearch {
  width: auto;
  height: auto;
  margin: 1%;
  padding: 1%;
  font-size: 1em;
}

.charPar {
  width: 70%;
  margin-top: 3%;
  display: inline-block;
  font-family: Maven Pro;
}

.button-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

h1 {
  font-size: 3em;
}
